* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    padding: 0px 64px;
}

nav {
    height: 121px;
    /* background-color: aqua; */
    width: 100%;
    padding: 15px 0px;

}

#navSocial {
    justify-content: flex-end;
    display: flex;
}

#navSocialList {
    display: flex;
    list-style: none;
    height: 15px;
}

.navSocailLi {
    margin-right: 16px;
}

#linkedIn {
    margin: 0;
}

#navLayer {
    display: flex;
    justify-content: space-between;
}

#navList {
    display: flex;
}

#navLinkList {
    display: flex;
    list-style: none;
    align-items: center;
}

.navLinkLi {
    margin-left: 32px;

}

.navLinkLi a {
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    color: black;
}

.navLinkLi a:hover {
    color: rgb(143, 143, 143);
}

#avatarButton {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 19px;
}

#avatarButton:hover {
    background-color: rgb(99, 97, 97);
}

#avatar {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
}

#navLinkButtonLi {
    display: flex;
}

#notificationButton {
    border: none;
    background-color: transparent;
    margin-right: 15px;
}

#navDropOff {
    display: flex;
    justify-content: flex-end;
}

#navPara {
    font-size: 10px;
    justify-content: flex-end;
    color: #808080;
    letter-spacing: -3.5%;
}

/* MAIN STYLING */
/* QUICK BOOK STYLING */

#quickBook {
    background-image: url(../resources/assets/Maskgroup.svg);
    height: 227px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 18px 81px;
}

#tabsList {
    list-style: none;
    font-size: 14px;
    display: flex;
}

.tabsLi {
    padding: 16px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabsLi a {
    color: #dfdfdf;
    text-decoration: none;
    display: inline-block;
}

.tabsLi a:hover {
    border-bottom: 1px solid white;
    color: white;
}

#appStore {
    display: flex;
    align-items: center;
}

#downloadPara {
    margin-right: 19px;
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    font-weight: 300;
}

.storeDownloadImage {
    margin-right: 9px;
}

#vehicleSelect {
    background-color: #ffffff23;
    color: #ffffff;
    border: none;
    padding: 9px 16px;
    margin: 14px 0px;
    border-radius: 50px;
}

#vehicleSelect option {
    background-color: #ac171d;
    /* Background color for the dropdown options */
    color: white;
    /* Text color for the dropdown options */
}

@media only screen and (max-width: 1280px) {

    .navLinkLi {
        margin-left: 15px;

    }

    #name {
        display: none;
    }

    #avatar {
        margin: 0;

    }

    #avatarButton {
        background-color: black;
        color: white;
        border: none;
        padding: 5px;
        padding-right: 6px;
    }
}

@media only screen and (max-width: 1080px) {

    #navList,
    #navSocial {
        display: none;
    }
}